<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>This is for <a href="https://onemonthrails.com">One Month Rails</a>. As you can see the button works fine just like the the contact button. You don't even have to check the contact button. OK for some reason after assignment 1 it (contact) stopped working. Also the flash message doesn't appear when you log on/off.</p>
    </div>
</div>