<h1>About trainj</h1>
<p> Trainj or Jay Laing as he is commonly known has been a a full time conductor and locomotive engineer up in Canada for the last 15 years. No I can't build locomotives I just drive them. In fact after losing at pool to a nuclear engineer I'm supposed to refer to myself as a choo choo operator. Other than that I'm 35, I've got 2 kids one of which was just born 2 weeks ago so I'm taking 4 weeks off and figured I might as well take this course. I have a lot of ideas and getting a handle on programming is probably the best way to make them come to life.  </p>
