
<h1>Welcome to my website!</h1>
<p><h3>We're building an exciting app that stops war and cures baldness, all you have to do is believe!</h3> </p>
<p2>Actually I'm hoping to build a survey/public opinion app kinda like survey monkey except not, the only similarities are that we will conduct surveys and our mascot, which is also a monkey or monké as  we like to call him. All kidding aside if I have to choose whether to follow a Twitter, Pinterest or Reddit path, then I would opt for a twitter.</p2>
