<% if user_signed_in? %>
   <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome Back!</h1>
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1 style="color:white">I couldn't resize the background image!</h1>
            <p style="color:white">You may be familiar with the popular internet meme that depicts a golden retriever in what appears to be a "science lab" with a caption that reads "I have no idea what I'm doing". Well' I tried to replace the boats with the science dog image because I felt it was apt as I in fact have no idea what I am doing.</p>
            <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %> 
        
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>I Believe!</h2>
            <p>I am halfway good at following instructions when it's step by step and I can pause. Things get tricky when I have to use recall. I swear I tried to download some other templates but they didn't have ".erb" which may or may not be important. </p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Find Colo(u)rs</h2>
            <p>I was able to find a website that gives you the Hex colours of your favorite sports team <a href="http://jim-nielsen.com/teamcolors/">here </a>(I like the NHL's Vancouver Canucks). I put a link in here so that's worth some points I bet. </p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2><a href="http://www.surfacelanguages.com/language/Latin.html">Latin Can Be Fun</a></h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, you have found the secret message ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
    </div>
</div>
<% end %>